<template>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Объект #{{ view_object.objectCn }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-show="view_object.objectCn">
                    <dl class="row">
                        <dt class="col-sm-5">Дата записи</dt>
                        <dd class="col-sm-7">{{ view_object.objectData.dateCreated}}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-5">Наименование</dt>
                        <dd class="col-sm-7">{{ getName }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-5">Обременения</dt>
                        <dd class="col-sm-7">{{getEncumbrances}}</dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            view_object: {
                objectCn: '',
                objectData: {
                    dateCreated: ''
                }
            }
        },

        computed: {

            getName: function () {

                if (name in this.view_object.objectData)
                    return this.view_object.objectData.name;
                else
                    return this.view_object.objectData.objectDesc;
            },

            getEncumbrances: function () {

                var e = false;

                if (this.view_object.type == 'parcel' && 'encumbrancesExists' in this.view_object.objectData.parcelData)
                    e = this.view_object.objectData.parcelData.encumbrancesExists;

                if (this.view_object.type == 'building' && 'encumbrancesExists' in this.view_object.objectData.building)
                    e = this.view_object.objectData.building.encumbrancesExists;

                if (this.view_object.type == 'construction' && 'encumbrancesExists' in this.view_object.objectData.construction)
                    e = this.view_object.objectData.construction.encumbrancesExists;

                if (this.view_object.type == 'flat' && 'encumbrancesExists' in this.view_object.objectData.flat)
                    e = this.view_object.objectData.flat.encumbrancesExists;

                return e ? 'Зарегистрированы' : 'Не зарегистрированы';
            }

        }
    }

</script>

<style scoped>

</style>
