<template>
    <tr>
        <th scope="row">{{ pindex + 1 }}</th>
        <td><a href="#" data-toggle="modal" data-target="#exampleModalCenter"  v-on:click="$emit('show-modal', item.objectCn)">{{ item.objectCn }}</a></td>
        <td>{{ getRuType }}</td>
        <td>{{ item.addressNotes }}</td>
    </tr>
</template>

<script>
    export default {
        props: {
            item: {
                type: Object,
                required: true
            },
            pindex: 0
        },
        computed: {
            // геттер вычисляемого значения
            getRuType: function () {

                var names = {
                    "parcel": "Земельный участок",
                    "flat": "Квартира",
                    "building": "Здание",
                    "construction": "Сооружение"
                };

                if (this.item.objectType  in names)
                    return names[this.item.objectType];
                else
                    return this.item.objectType;
            }
        }
    }

</script>

<style scoped>

</style>
