<template>

  <div>
    <SearchBox
            v-model="cadastral_number"
            @click="SearchObjects"
    />
    <b v-for="error in errors">{{ error }}</b>


    <table class="table table-hover mt-5" v-if="objects_list.length">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Кад. номер</th>
            <th scope="col">Тип</th>
            <th scope="col">Адрес</th>
        </tr>
        </thead>
        <tbody>

        <ObjectListItem
                v-for="(item, key) in objects_list"
                :key="item.objectId"
                :item="item"
                :pindex="key"
                v-on:show-modal="onShowModal"
        />

        </tbody>
    </table>

      <p class="mt-5" v-else>
          Список пуст.
      </p>

    <Modal :view_object="view_object" />

  </div>


</template>

<script>
    import SearchBox from "./SearchBox";
    import ObjectListItem from "./ObjectListItem";
    import Modal from "./Modal";

    var empty_obj = {
        objectCn: '',
            objectData: {
            dateCreated: ''
        }
    }

    export default {
        components: {
            SearchBox, ObjectListItem, Modal
        },
        data () {
            return {
                errors: [],
                cadastral_number: '54:35:101355:11',
                objects_list: [],
                view_object: empty_obj
            }
        },
        methods: {
            SearchObjects: function (e) {
                this.errors = [];

                if (!this.cadastral_number) {
                    this.errors.push('Укажите номер!');
                } else if (!this.validNumber(this.cadastral_number)) {
                    this.errors.push('Укажите номер в формате 00:00:00000!');
                }

                if (!this.errors.length) {

                    fetch('/fir_lite_rest/api/gkn/fir_objects/' + this.cadastral_number + '*')
                         .then(res => res.json())
                         .then(res => {
                             if (res.error) {
                                 this.errors.push(res.error);
                             } else {
                                 this.objects_list = res;
                             }
                         });
                }

                return false

            },
            validNumber: function (number) {
                var re = /^[0-9]{2}[:]+[0-9]{2}([:]+[0-9:]{5,}){0,1}$/;
                return re.test(number);
            },

            onShowModal: function (item_id) {
                this.view_object = empty_obj;
                fetch('/fir_lite_rest/api/gkn/fir_lite_object/' + item_id)
                    .then(res => res.json())
                    .then(res => {
                        if (res.error) {
                            this.errors.push(res.error);
                        } else {
                            this.view_object = res;
                            console.log(this.view_object);
                        }
                    });
            }

        }
    }
</script>