<template>
    <div class="card mt-5">
        <div class="card-body">
            <div class="form-inline">
                <div class="form-group">
                    <label for="search_field">Кадастровый номер:</label>
                    <input type="text"
                           id="search_field"
                           class="form-control ml-2"
                           :value="value"
                           v-on="listeners"
                           placeholder="00:00:00000"
                    >
                </div>
                <button class="btn btn-primary ml-2" v-on="listeners2">Найти</button>
            </div>

            <!--<b v-for="error in errors">{{ error }}</b>-->
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            value: {
                type: String,
                default: '',
            }
        },
        computed: {
            listeners () {
                return {
                    input: event => this.$emit('input', event.target.value)
                }
            },
            listeners2 () {
                return {
                    ...this.$listeners
                }
            },
        }
    }

</script>

<style scoped>

</style>
