<template>
  <div id="app" class="container">
    <ObjectsList/>
  </div>
</template>

<script>
import ObjectsList from './components/ObjectsList'

export default {
  name: 'App',
  components: {
      ObjectsList
  }
}
</script>

<style>
#app {
}
</style>
